.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 70px;
  gap: 20rem;

  &__title {
    font-weight: 500;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 2rem;
    margin-top: 5rem;
    width: 450px;
  }

  &__description {
    font-family: 16px;
    font-weight: 400;
    line-height: 30px;
    color: rgba(79, 86, 101, 1);
    margin-bottom: 1.5rem;
    width: 428px;
  }

  &__vector {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin-bottom: 1rem;
  }

  &__logo {
    width: 30px;
    height: 24px;
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: rgba(79, 86, 101, 1);
  }
}
